.row.conversation
  .col-md-8.col-sm-8.col-xs-8
    %h3= @page_title.to_s
    .row
      .col-md-12.col-sm-12.col-xs-12
        .col-md-6.col-sm-6.col-xs-6
          %p.alert.alert-info
            %b When user start a conversation
      - @template_food = @template[:template_food]
      = render 'bot_welcome_area', template: @template_food[:wellcome_area]

  .col-md-3.col-sm-3.col-xs-3.facebook_chat_box
    .facebook_title
      %p{style:'margin-bottom: 0px;'}
        %b Kitfe - Kitchen For Everyone
        %span.pull-right
          %i.fa.fa-gear
          %i.fa.fa-close
      %span{style: 'font-size: 10px;'} Typically replies within an hour



    %br/
    %br/
    %br/
    %ul
    - @products.each do |product|
      %li= link_to product.title, "https://#{@shop_session.url}/admin/products/#{product.id}", target: "_top"
