%body.nav-md
  .container.body
    .main_container
      .row
        .col-md-12.col-sm-12.col-xs-12
          .x_panel
            .x_title
              %h2
                Bot setting
                %small
              %ul.nav.navbar-right.panel_toolbox
                %li
                  %a.collapse-link
                    %i.fa.fa-chevron-up
                %li.dropdown
                  %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                    %i.fa.fa-wrench
                  %ul.dropdown-menu{:role => "menu"}
                    %li
                      %a{:href => "#"} Settings 1
                    %li
                      %a{:href => "#"} Settings 2
                %li
                  %a.close-link
                    %i.fa.fa-close
              .clearfix
            .x_content

              / Smart Wizard
              #wizard.form_wizard.wizard_horizontal
                %ul.wizard_steps
                  %li
                    %a{:href => "#step-1"}
                      %span.step_no 1
                      %span.step_descr
                        Step 1
                        %br/
                        %small Connect shop
                  %li
                    %a{:href => "#step-2"}
                      %span.step_no 2
                      %span.step_descr
                        Step 2
                        %br/
                        %small Setting shop
                  %li
                    %a{:href => "#step-3"}
                      %span.step_no 3
                      %span.step_descr
                        Step 3
                        %br/
                        %small Setup Bot

                #step-1
                  %form.form-horizontal.form-label-left
                    #wrapper
                      %section.login_content
                        .form-group                      
                          %center
                            %h2 Login with shopify
                            %div
                              %input.form-control{:placeholder => "shop.myshopify.com", :required => "", :type => "text", :value => "kitfe.myshopify.com"}/
                            %br
                            -# %div
                            -#   %input.form-control{:placeholder => "Username", :required => "", :type => "text", :value => "phuochai@kitfe.com"}/
                            -# %br
                            -# %div
                            -#   %input.form-control{:placeholder => "Password", :required => "", :type => "password", :value => "133434"}/
                            %br
                            %div
                              = link_to 'Connect with shopify', '/welcome/step2', class: 'btn btn-success'

                #step-2
                  %h2.StepTitle Step 2 Content
                  %p
                    do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                    fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  %p
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                    in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                #step-3
                  .row.conversation
                    .col-md-8.col-sm-8.col-xs-8
                      .row
                      - @template_food = @template[:template_food]
                      = render 'bot_welcome_area', template: @template_food[:wellcome_area]
                    = render 'facebook'                                                
                  %br
                  .clearfix
                  %hr
                  .row.conversation
                    .col-md-8.col-sm-8.col-xs-8
                      = render 'definition'                                              
              / End SmartWizard Content

          %hr/
          .col-md-12
            .col-md-3
              = link_to 'Finish', '/users', class: 'btn btn-primary', style: 'width:140px; margin-left:10px;'

:javascript
  $(document).ready(function() {
    // Smart Wizard
    $('#wizard').smartWizard({selected: 2});
  });

  $(document).ready(function() {
    // Smart Wizard
    $('#wizard_verticle').smartWizard({
      transitionEffect: 'slide'
    });
    $(".actionBar").css("display", "none");

  });                