.col-md-3.left_col
  .left_col.scroll-view
    .navbar.nav_title{:style => "border: 0;"}
      %a.site_title{:href => "index.html"}
        %i.fa.fa-paw
        %span Gentellela Alela!
    .clearfix
    / menu prile quick info
    .profile
      .profile_pic
        = image_tag('img.jpg', class: "img-circle profile_img")
      .profile_info
        %span Welcome,
        %h2 John Doe
    / /menu prile quick info
    %br/
    / sidebar menu
    #sidebar-menu.main_menu_side.hidden-print.main_menu
      .menu_section
        %h3 General
        %ul.nav.side-menu
          %li
            = link_to '/messages' do
              %i.fa.fa-home
              Messages
              %span.fa.fa-chevron-down
          %li
            = link_to '/notifications' do
              %i.fa.fa-home
              Notifications
              %span.fa.fa-chevron-down
          %li
            = link_to '/users' do
              %i.fa.fa-home
              User
              %span.fa.fa-chevron-down

          %li
            = link_to '/settings' do
              %i.fa.fa-home
              Settings
              %span.fa.fa-chevron-down
          
    / /sidebar menu
    / /menu footer buttons
    .sidebar-footer.hidden-small
      %a{"data-placement" => "top", "data-toggle" => "tooltip", :title => "Settings"}
        %span.glyphicon.glyphicon-cog{"aria-hidden" => "true"}
      %a{"data-placement" => "top", "data-toggle" => "tooltip", :title => "FullScreen"}
        %span.glyphicon.glyphicon-fullscreen{"aria-hidden" => "true"}
      %a{"data-placement" => "top", "data-toggle" => "tooltip", :title => "Lock"}
        %span.glyphicon.glyphicon-eye-close{"aria-hidden" => "true"}
      %a{"data-placement" => "top", "data-toggle" => "tooltip", :title => "Logout"}
        %span.glyphicon.glyphicon-off{"aria-hidden" => "true"}
    / /menu footer buttons