!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FbbotRor
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
  %body.nav-md
    .container.body
      .main_container
        = render partial: "layouts/sidebar"
        = render partial: "layouts/header"            
        .right_col{:role => "main"}
          = yield
